
/* utility class */
a, 
.link {
	text-decoration: none;
}
li {
	list-style: none;
}
img{
	height: 100%;
	width: 100%;
}
.btn {
	display: inline-block;
	color: var(--gray--clr);
	text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
	width: 13.5rem;
	padding: 1.2rem 2.25rem;
	text-align: center;
	border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem;
	-moz-border-radius: 0.6rem;
	-ms-border-radius: 0.6rem;
	-o-border-radius: 0.6rem;
	margin: 0.6rem;
	cursor: pointer;
}
.btn:hover {
	opacity: 0.7;
}
.btn-pry {
	background-color: #408152;
}
.btn-secondary {
	border: 1px solid #408152;
}